.main {
    display: flex;
    flex-direction: column;
    background: aquamarine;
}
.item_red {
    color: red;
}
h1 {
    text-align: center;
    text-decoration: underline black double;
}
.text_bold {
    font-weight: 600 ;
}
.list {
    background: burlywood;
}
.itmo-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.itmo-video {
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.itmo-map {
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}